.vimBox {
  border-radius: 10px;
  border: 2px solid white;
  position: absolute;
  text-align: center;
  padding: 10px;
  width: 200px;
  height: 20px;
  position: absolute;
  margin: auto;
  font-family: "SFAlien";
  color: white;
}
