.helpScreen {
  border-radius: 25px;
  background: #73AD21;
  position: absolute;
  text-align: center;
  padding: 20px;
  width: 640px;
  height: 320px;
  position: absolute;
  margin: auto;
}

h2 {
  font-size: 25px;
  text-align: center;
}

.controls {
  font-size: 20px;
  text-align: left;
}
