.tile {
  display: inline-flex;
  background-color: green;
  height: 32px;
  width: 32px;
}

.row {
  border: none;
  height: 32px;
}

@media (min-width: 360px) {
  body {
    font-size: 1em;
  }
}

.zone-container {
  /* position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  /* transform: translate(-50%, -50%); */
  width: 720px;
}

.map {
  width: 720px;
  height: 320px;
  justify-content: center;
}

.speech-container {
  border: 5px solid red;
  height: 100px;
  width: 720px;
}

.game-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.support-container {
  border: 5px solid blue;
  height: 200px;
  width: 100px;
}

.container-right {
  width: 70%;
}
