@font-face {
  font-family: "SFAlien";
  src: url("/fonts/SFAlienEncounters.ttf") format("truetype");
}

body {
  background-color: black;
}

.tile {
  display: inline-flex;
  background-color: green;
  height: 32px;
  width: 32px;
}

.row {
  border: none;
  height: 32px;
}

@media (min-width: 360px) {
  body {
    font-size: 1em;
  }
}

.zone-container {
  /* position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  /* transform: translate(-50%, -50%); */
  width: 720px;
}

.map {
  width: 720px;
  height: 320px;
  justify-content: center;
}

.speech-container {
  margin-top: 30px;
  border: 3px solid white;
  height: 100px;
  width: 720px;
  background-color: #6d6d6d;
}

p {
  color: white;
  font-family: "SFAlien";
  font-weight: 100;
  font-size: 2.5em;
}

.game-container {
  display: grid;
  grid-template-columns: 20% auto auto auto;
  margin-top: 100px;
}

.support-container {
  border: 3px solid white;
  height: 300px;
  width: 200px;
  margin-left: 50px;
  text-align: center;
  background-color: #3d3d3d;
}

.container-right {
  width: 70%;
}
