/* --------------- OVERALL SETTING FOR WHOLE PAGE ----------------- */
body {
  background-image: url("https://i.imgur.com/oZ8oRqh.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  justify-content: center;
}

/* ------------- FONTS ----------------- */

@font-face {
  font-family: "SFAlien";
  src: url("/fonts/SFAlienEncounters.ttf") format("truetype");
}

@font-face {
  font-family: "arcadeclassic";
  src: url("/fonts/arcadeclassic.regular.tff") format("truetype");
}

/* ------------ RESPONSIVENESS --------------- */

@media (min-width: 360px) {
  body {
    font-size: 1em;
  }
}

h4 {
  font-size: 14px;
  color: grey;
  font-family: "SFAlien";
}

h4:hover {
  color: white;
}
