/* GAME ITSELF */

.tile {
  display: inline-flex;
  background-color: green;
  height: 32px;
  width: 32px;
}

.row {
  border: none;
  height: 32px;
}

.map {
  width: 736px;
  height: 417px;
  justify-content: center;
  border: 3px solid white;
}

/* ----------------- CONTAINERS --------------- */

/* CONTAINER AROUND WHOLE SCREEN */
.game-container {
  display: grid;
  grid-template-columns: 20% auto auto auto;
  margin-top: 20px;
}

/* CONTAINER RIGHT WITH GAME AND SPEECH */
.speech-container {
  border: 3px solid white;
  height: 100px;
  width: 736px;
  text-align: center;
}

/* CONTAINER LEFT SIDE */
.support-container {
  border: 3px solid white;
  height: 300px;
  width: 200px;
  margin-left: 50px;
  text-align: center;
}

/* VIM LOGO ON TOP OF SCREEN */
.logo2 {
  height: 100px;
  margin-top: 10px;
  opacity: 0.75;
}

.logo2:hover {
  opacity: 1;
}

/* ---------------- FONTS ---------------- */

/* SPEECH BOX */
p {
  color: white;
  font-family: "SFAlien";
  font-weight: 100;
  font-size: 1.5em;
  line-height: 1.6;
}

/* SUPPORT BOX LEFT */
h3 {
  color: white;
  font-size: 15px;
  font-family: "SFAlien";
}
